*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    padding: 0 30px;
}

/* section 1 */

#section-1{
    height: 100%;
    width: 100%;
}

nav{
    height: 60px;
    width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 10px;

}
.logo{
    display: flex;
    align-items: center;
}
.logo i{
    font-size: 21px;
}
.logo h2{
    font-size: 20px;
}

.lists{
    height: 100%;
    width: 38%; 
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 18px;
}

.lists a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.lists a i{
    font-size: 19px;
}

.btn button{
    padding: 5px 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.btn button:nth-child(2){
    background-color: black;
    color: white;
}
.btn button:hover{
    background-color: black;
    color: white;
}
.btn button:nth-child(2):hover{
    background-color: rgb(222, 221, 221);
    color: black;
}

.hero{
    height: calc(100% - 60px);
    width: 100%;
    background-color: rgb(249, 249, 252);
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.hero-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 50px 30px;
}
.rating{ 
    display: flex;
    gap: 5px;
}
.rating i{
   font-size: 18px;
   display: flex;
   align-items: center;
}

.icon-text h4{
     font-size: 16px;
}

.icon-text p{
     font-size: 12px;
     color: gray;
}
.hero-right{
    height: 100%;
    width: 50%;
}

.heading h1{
    font-size: 90px;
    line-height: 0.9;
    font-weight: 500;
}
.heading p{
    margin-top: 20px;
    color: rgb(88, 87, 87);
}

.btn2 button{
    padding: 10px 30px;
    background-color: rgb(222, 221, 221);
    border: none;
    border-radius: 50px;
    cursor: pointer;

}
.btn2 button:nth-child(2){
    background-color: black;
    color: white;
}

.btn2 button:hover{
    background-color: black;
    color: white;
}
.btn2 button:nth-child(2):hover{
    background-color: rgb(222, 221, 221);
    color: black;
}

.logos p{
    font-size: 15px;
    color: rgb(103, 101, 101);
}
.logos-logo {
    display: flex;
    align-items: center;
   gap: 40px;
}
.logos-logo img{
    height: 50px;
    width: 80px;
    object-fit: cover;

}

.hero-right{
    height: 100%;
    width: 50%;
    padding: 20px;
}

.hero-right img {
   height: 100%;
   width: 100%;
   object-fit: cover;
   border-radius: 20px;
}


/* section 2 */

#section-2{
    height: 100%;
    width: 100%;
    padding: 10px 0;
}

.card-container{
    height: 60%;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.card{
    height: 100%;
    width: 25%;
   
}

.card .card-image{
    height: 90%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1689263131882-a5470cc879a3?q=80&w=1240&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: end;
    padding: 15px;
}

.card:nth-child(2) .card-image{
    background-image: url(https://images.unsplash.com/photo-1689263131929-82d8f6431323?q=80&w=1316&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(4) .card-image{
    background-image: url(https://images.unsplash.com/photo-1680210851377-b7168175ae9b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.card-image i{
    background-color: white;
    height: 30px;
    width: 30px;
    font-size: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.card-info{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8
    px;
}

.card-info h4{
    font-weight: 500;
}

.card-info p{
    font-weight: 500;
    font-size: 12px;
    color: grey;
    letter-spacing: 0.8px;
}
.card-no-image{
    padding: 10px 15px;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card-no-image .card-no-image-head p{
  
     font-size: 15px;
     font-weight: 500;

}

 .card-no-image-head h2{
     margin-top: 10px;
     font-size: 28px;
     font-weight: 300;
     font-family: 'Times New Roman', Times, serif;

}

.card-no-image h3{
    font-weight: 500;
}

.card-no-image i{
    height: 12px;
    width: 12px;
    font-size: 12px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.card-text-container{
    height: 40%;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.card-text-heading{
    padding: 30px;
}

.card-text-heading p{
     font-size: 15px;
     margin-bottom: -20px;
} 

.card-text-heading h1{
     font-size: 100px;
     font-weight: 500;
      margin-top: 5px;
} 

.card-text-subheading{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 25px;
}

/* section 3 */

#section-3{
    height: 100%;
    width: 100%;
    padding: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top-part{
    height: 50%;
    width: 100%;
    display: flex;
    gap: 20px;
}

.image-box{
    height: 100%;
    width: 25%;
    background-image: url(https://images.unsplash.com/photo-1666899950567-224dc84adf89?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end; /* left */
    padding: 10px;
    
}

.image-box i{
    background-color: white;
    height: 25px;
    width: 50px;
    border-radius: 50px;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.detail{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 25%;
}

.detail h2{
    font-size: 28px;
    font-weight: 550;

}


.detail p{
    font-size: 12px;
    color: grey;
    margin-top: 5px;

}

.detail-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.inner1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.inner1 p{
    font-size: 15px;
    color: black;
}

.inner2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.inner2 p{
    font-size: 15px;
    color: black;
}

.booking{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;

}

.booking-1{
    display: flex;
    gap: 8px;
}
.booking-1 i{
    font-size: 25px;
    color: grey;
}

.booking-1-text h2{
     font-size: 18px;
}

.booking-1-text p{
    font-size: 15px;
    color: grey;
    line-height: 1.5;
}

.booking button{
    padding: 14px 18px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: none;
}


.top-part:nth-child(2) .image-box{
    background-image: url(https://images.unsplash.com/photo-1635428335190-95f20a76cb47?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

